.section{
    padding: 20px;
    background-color: rgb(225, 180, 180);
    display: flex;
    gap: 10px;
    min-height:90vh ;
    
}
.leftSection{
    /* background-color: blueviolet; */
    flex: 4;
    text-align: center;
}
.rightSection{
    /* background-color: rgb(72, 156, 24); */
    flex: 1;
}
.availableIds{
    /* background-color: rgb(164, 32, 32,0.8); */
    margin: 11px;
    padding: 2px;
}
.ids{
    background-color: rgb(195, 214, 195);
    /* border: 1px solid red;
    bo */
    border-radius: 12px;
    margin: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.btnPur{
    cursor: pointer;
   color: rgb(28, 19, 19);
   padding: 0px 2px;
   font-weight: lighter;
   background-color: azure;
   height: 38px;
}
.information{
    margin: 8px;
    padding: 2px;
    background-color: bisque;
}
@media only screen and (max-width: 600px) {
    .section {
      /* background-color: rgb(14, 26, 26); */
      display: block;
    }
   
  }